/**
 * Design Tokens - CSK RVP Design System
 *
 * Central import for all design tokens.
 * Import this file to get all CSS custom properties.
 */

@import './colors.css';

/* Additional token files will be added here:
 * @import './typography.css';
 * @import './spacing.css';
 * @import './radius.css';
 * @import './shadows.css';
 * @import './transitions.css';
 */
